<app-switcher />

<div class="page">
  <app-header />
  <app-sidebar appHoverEffectSidebar />
  <div class="content">
    <div class="main-content" (click)="togglesidemenuBody()">
      <router-outlet></router-outlet>
    </div>
    <div class="bienvenida-container" *ngIf="mostrarContenido">
      Bienvenido a <span class="underline">{{ empresaNombre }}</span>
    </div>
    <div class="cards-row" *ngIf="mostrarContenido">

      <!-- Emitir / Ver facturas -->
      <div class="contenedor-facturase">
        <button class="boton-amarillo"
                (click)="navegarConLoader('/invoices/ingreso')">
          Emitir Factura
        </button>
        <button class="boton-amarillo"
                (click)="navegarConLoader('/emitidos/cfdi')">
          Ver mis facturas
        </button>
      </div>
    
      <!-- Adquiere más Timbres -->
      <div class="contenedor-facturase">
        <button class="boton-rojo">Adquiere más Timbres</button>
        <p>T. Restantes: {{ Timbres }}</p>
        <p>Fecha Vence: {{ Fecha }}</p>
      </div>
    
      <!-- Soporte -->
      <div class="contenedor-facturase">
        <h3>Soporte</h3>
        <p>Horario de Atencion.</p>
        <p>Lunes a Viernes 9:00-17:00.</p>
        <button class="boton-azul">729-490-15-82</button>
        <button class="boton-azul">722 131-6259</button>
        <button class="boton-azul">soporteeasysweb.com.mx</button>
      </div>
    
    </div>
    

  </div>
  <app-footer />
  <app-tab-to-top />
</div>


<div id="responsive-overlay" (click)="clearToggle()"></div>


<div id="loader" *ngIf="showLoader">
  <img src="images/loader.svg" alt="" />
</div>