<form [formGroup]="formIngreso" autocomplete="off">
    <!-- <pre> {{ formIngreso.value | json }} </pre> -->

    <div class="grid grid-cols-12 gap-x-6">
        <div class="xl:col-span-12 col-span-12">
            <div class="box mt-4">
                <div class="box-body">
                    <div class="contact-header">
                        <div class="sm:flex block items-center justify-between">
                            <div class="h5 font-semibold mb-5">CFDI 4.0</div>

                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-12 md:col-span-3">
                            <label for="invoice_type" class="form-label">Tipo Comprobante:</label>
                            <select id="invoice_type" class="form-select mt-1 block w-full"
                                formControlName="invoice_type" (change)="onTipoChange($event)">
                                <option value="I">Ingreso</option>
                                <option value="E">Egreso</option>
                            </select>
                            <span *ngIf="isValidField('invoice_type')" class="text-red-600 text-sm">
                                {{ getFieldError('invoice_type') }}
                            </span>
                        </div>
                        <div class="col-span-12 sm:col-span-12 md:col-span-3 relative">
                            <label for="serie_folio" class="form-label text-[.875rem] text-black">Serie y Folio:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="serie_folio" id="serie_folio"
                                    formControlName="serie_folio" (input)="onInputReceptorJun($event, 'series')"
                                    (keydown)="onKeyDown($event)"
                                    [ngClass]="{'is-invalid': isValidField('serie_folio')}">
                                <div class="input-group-text" data-hs-overlay="#hs-extralarge-modal2">
                                    <i class="ri-add-line"></i>
                                </div>
                            </div>
                            <span *ngIf="formIngreso.get('serie_folio')?.hasError('notFound') "
                                class="text-[#EE312A] text-sm">
                                Este código de serie no se encuentra .
                            </span>
                            <span *ngIf="isValidField('serie_folio')" class="text-[#EE312A] text-sm">
                                {{ getFieldError('serie_folio') }}
                            </span>


                            <ul *ngIf="filteredSeries.length > 0"
                                class="absolute dark:bg-white bg-gray-400 border-gray-300 rounded-lg mt-2 w-full">
                                <li *ngFor="let series of filteredSeries; let i = index" (click)="selectSerie(series)"
                                    [ngClass]="{'bg-gray-200': i === selectedIndex}" class="text-black">
                                    {{ series.serie }} - {{ series.folio }}
                                </li>
                            </ul>
                        </div>




                        <div class="col-span-12 sm:col-span-12 md:col-span-3">
                            <label for="fecha" class="form-label text-[.875rem] text-black">Fecha:</label>
                            <select class="block w-full rounded-md sm:text-sm form-select !py-[0.59rem]" name="fecha"
                                id="fecha" formControlName="fecha">
                                <option value="">Selecciona la fecha</option>
                                @for (fecha of listadoFechas; track $index) {
                                <option value="{{fecha.fecha}}">{{ fecha.fecha }}</option>
                                }
                            </select>
                            @if (isValidField('fecha')) {
                            <span class="text-[#EE312A] text-sm">
                                {{ getFieldError('fecha') }}
                            </span>
                            }
                        </div>

                        <div class="col-span-12 sm:col-span-12 md:col-span-3 relative">
                            <label for="receptor" class="form-label text-[.875rem] text-black">Receptor:</label>

                            <div class="input-group">
                                <!-- Input visible para mostrar el nombre del receptor -->
                                <input type="text" class="form-control" [value]="receptorNombreVisible"
                                    (input)="onInputReceptorJun($event, 'receptors')" (keydown)="onKeyDown2($event)"
                                    [ngClass]="{'is-invalid': isValidField('receptor')}">

                                <div class="input-group-text" data-hs-overlay="#hs-extralarge-modal2">
                                    <i class="ri-add-line"></i>
                                </div>
                            </div>

                            <!-- Campo oculto que guarda el ID del receptor en el formulario -->
                            <input type="hidden" formControlName="receptor" />

                            <!-- Validaciones -->
                            <span *ngIf="formIngreso.get('receptor')?.hasError('notFound')"
                                class="text-[#EE312A] text-sm">
                                Este Receptor no se encuentra.
                            </span>
                            <span *ngIf="isValidField('receptor')" class="text-[#EE312A] text-sm">
                                {{ getFieldError('receptor') }}
                            </span>

                            <!-- Lista de resultados -->
                            <ul *ngIf="filteredReceptors.length > 0"
                                class="absolute dark:bg-white bg-gray-400 border-gray-300 rounded-lg mt-2 w-full z-10">
                                <li *ngFor="let receptor of filteredReceptors; let i = index"
                                    (click)="selectReceptor(receptor)" [ngClass]="{'bg-gray-200': i === selectedIndex}"
                                    class="text-black px-2 py-1 cursor-pointer">
                                    {{ receptor.name }}
                                </li>
                            </ul>
                        </div>

                        <div class="col-span-12 sm:col-span-12 md:col-span-3">
                            <label for="usoCfdi" class="form-label text-[.875rem] text-black">Uso CFDI:</label>
                            <select class="block w-full rounded-md sm:text-sm form-select !py-[0.59rem]" name="usoCfdi"
                                formControlName="uso_cfdi" id="usoCfdi">
                                <option value="">Selecciona</option>
                                <option *ngFor="let cfdi of listaCfdi" [value]="cfdi.uso">
                                    {{ cfdi.nombre }}
                                </option>
                            </select>
                            <span *ngIf="isValidField('uso_cfdi')" class="text-[#EE312A] text-sm">
                                {{ getFieldError('uso_cfdi') }}
                            </span>
                        </div>


                    </div>
                    <hr class="my-6 border-gray-300">

                    <h1 class=" mb-4 py-2 px-4 border-b font-bold">
                        Productos y Servicios 
                    </h1>

                    <app-conceptos [typeProof]="typeProof"></app-conceptos>


                    <hr class="my-6 border-gray-300">

                    <app-relateds></app-relateds>

                    <hr class="my-6 border-gray-300">

                    <div class="form-check form-switch mb-2" id="agregaCP">
                        <div class="custom-toggle-switch flex items-center mb-4">
                            <input id="toggleswitchPrimary2" name="toggleswitch001" type="checkbox"
                                (change)="agregarCartaP($event)">
                            <label for="toggleswitchPrimary2" class="label-primary"></label><span
                                class="ms-3 font-bold">Complemento Carta Porte </span>
                        </div>
                    </div>

                    <hr class="my-6 border-gray-300">

                    <app-complemento-cp *ngIf="mostrarCP"></app-complemento-cp>

                    <hr class="my-6 border-gray-300">
                    <!-- <form [formGroup]="forma_pago"> -->
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-6">
                        <div class="grid grid-cols-1 lg:grid-cols-1 gap-6 mt-6">
                            <div class="">
                                <label for="metodoPago" class="form-label text-[.875rem] text-black">Método
                                    Pago:</label>
                                <select class="mt-1 block w-full rounded-md sm:text-sm" name="metodoPago"
                                    id="metodoPago" (change)="searchFormaPago()" formControlName="metodo_pago">
                                    <option value="">Selecciona una opción</option>
                                    @for (metodoPago of listadoMetodoPago; track $index) {
                                    <option value="{{ metodoPago.metodo }}">{{ metodoPago.descripcion }}</option>
                                    }
                                </select>
                                <span *ngIf="isValidField('metodo_pago')" class="text-[#EE312A]">
                                    {{ getFieldError('metodo_pago') }}
                                </span>
                            </div>
                            <div class="-mt-5 mb-8">
                                <label for="moneda" class="form-label text-[.875rem] text-black">Moneda:</label>
                                <select class="mt-1 block w-full rounded-md sm:text-sm" name="moneda" id="moneda"
                                    formControlName="moneda">
                                    <option value="">Selecciona una opción</option>
                                    <option value="MXN">Peso Mexicano</option>
                                    <option value="USD">Dolar Americano</option>
                                </select>
                                <span *ngIf="isValidField('moneda')" class="text-[#EE312A]">
                                    {{ getFieldError('moneda') }}
                                </span>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 lg:grid-cols-1 gap-6 mt-6">

                            <div class="">
                                <label for="formaPago" class="form-label text-[.875rem] text-black">Forma Pago:</label>
                                <select class="mt-1 block w-full rounded-md sm:text-sm" name="formaPago" id="formaPago"
                                    formControlName="forma_pago">
                                    <option value="">Selecciona una opción</option>
                                    @for (formaPago of listadoFormaPago; track $index) {
                                    <option value="{{ formaPago.clave }}">{{ formaPago.descripcion }}</option>
                                    }
                                </select>
                                <span *ngIf="isValidField('forma_pago')" class="text-[#EE312A]">
                                    {{ getFieldError('forma_pago') }}
                                </span>
                            </div>
                            <div class="-mt-5 mb-8">
                                <label for="tipo-cambio" class="form-label text-[.875rem] text-black">Tipo de
                                    Cambio:</label>
                                <input id="tipo-cambio" type="text" class="mt-1 block w-full rounded-md sm:text-sm"
                                    formControlName="tipo_cambio">
                                <span *ngIf="isValidField('tipo_cambio')" class="text-[#EE312A]">
                                    {{ getFieldError('tipo_cambio') }}
                                </span>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 lg:grid-cols-1 gap-6 mt-6">
                            <app-totales></app-totales>
                        </div>
                    </div>

                    <!-- </form> -->
                    <div class="flex justify-between my-5 p-2 mx-2">
                        <div>
                            <button type="button" (click)="cancelar()"
                                class="ti-btn ti-btn-danger-full text-white !font-medium ti-btn-darken-hover">
                                Cancelar
                            </button>
                        </div>
                        <div>
                            <button type="submit" (click)="onSubmitIngreso()"
                                class="ti-btn ti-btn-primary-full text-white !font-medium ti-btn-darken-hover">
                                Emitir
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</form>

<div id="hs-extralarge-modal2" class="hs-overlay hidden ti-modal [--overlay-backdrop:static]">
    <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out lg:!max-w-4xl lg:w-full m-3 lg:!mx-auto">
        <div class="ti-modal-content">
            <div class="ti-modal-header">
                <h6 class="ti-modal-title">Series y Folio</h6>
            </div>
            <app-form-invoice-serie />
        </div>
    </div>
</div>
<div id="hs-extralarge-modal1" class="hs-overlay hidden ti-modal [--overlay-backdrop:static]">
    <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out lg:!max-w-4xl lg:w-full m-3 lg:!mx-auto">
        <div class="ti-modal-content">
            <div class="ti-modal-header">
                <h6 class="ti-modal-title">Receptor</h6>
            </div>
            <app-form-invoice />
        </div>
    </div>
</div>
<div id="loader" *ngIf="showLoader">
    <img src="images/loader.svg" alt="" />
</div>