
<form [formGroup]="formSeguros">
<hr class="my-6 border-gray-300">
<h5 class="mt-3 mb-3">Seguros</h5>
<div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 sm:col-span-12 md:col-span-4">
        <label class="form-label" for="sAmbient">A. Ambiental:</label>
        <div class="input-group">

            <select class="form-control" name="sAmbient" id="sAmbient">
                <option value="">Selecciona S. Ambiente</option>

                <!-- @foreach($safes->where('type', 'Ambiental')  as $safe)
                    <option value="{{ $safe->id }}">{{ $safe->polize }}</option>
                @endforeach -->
            </select>
            <div class="input-group-text" data-hs-overlay="#hs-extralarge-modal2">
                <i class="ri-add-line"></i>
            </div>
        </div>
    </div>
    <div class="col-span-12 sm:col-span-12 md:col-span-4">
        <label class="form-label" for="sCarge">A. Carga:</label>
        <div class="input-group">
            <select class="form-control" name="sCarge" id="sCarge">
                <option value="">Selecciona S. Carga</option>

                <!-- @foreach($safes->where('type', 'Carga') as $safe)
                    <option value="{{ $safe->id }}">{{ $safe->polize }}</option>
                @endforeach -->
            </select>
            <div class="input-group-text" data-hs-overlay="#hs-extralarge-modal2">
                <i class="ri-add-line"></i>
            </div>
        </div>
    </div>
    <div class="col-span-12 sm:col-span-12 md:col-span-4" id="divRfc">
        <label class="form-label" for="rfc">P. Seguro:</label>
        <input type="text" class="form-control" name="pSeguro" id="pSeguro">
    </div>
</div>
