<div>
    <pre>
        {{ myForm.value | json }}
    </pre>
    <form [formGroup]="myForm" class="grid grid-cols-3 gap-6 p-6  rounded-lg">
        <div class="col-span-1">
            <label for="type" class="block text-sm font-medium ">Tipo </label>
            <select id="type" formControlName="type" class="mt-1 block w-full rounded-md ">
                <option value="" selected disabled>Selecciona el seguro </option>
                <option value="Ambiental">Ambiental</option>
                <option value="Carga">Carga</option>

            </select>
            <span *ngIf="isValidField('type')" class="text-[#EE312A]">
                {{ getFieldError('type') }}
            </span>
        </div>

        <div class="col-span-1">
            <label for="asegure" class="block text-sm font-medium ">Asegura</label>
            <input type="text" id="asegure" formControlName="asegure" class="mt-1 block w-full rounded-md "  minlength="3" maxlength="50">
            <span *ngIf="isValidField('asegure')" class="text-[#EE312A]">
                {{ getFieldError('asegure') }}
            </span>
        </div>
        <div class="col-span-1">
            <label for="polize" class="block text-sm font-medium ">Poliza</label>
            <input type="text" id="polize" formControlName="polize" class="mt-1 block w-full rounded-md " minlength="3" maxlength="30">
            <span *ngIf="isValidField('polize')" class="text-[#EE312A]">
                {{ getFieldError('polize') }}
            </span>
        </div>
    </form>
</div>


<div class="flex justify-between mb-4 mt-5">
    <div class="ms-3">
        <button type="button" class="ti-btn ti-btn-danger-full text-white !font-medium"
            data-hs-overlay="#hs-extralarge-modal1" (click)="closeModal()">
            Cancelar
        </button>
    </div>
    <div class="mr-3">
        <button class="ti-btn ti-btn-primary-full text-white !font-medium" (click)="onSubmit()">
            {{buttonTitle}}
        </button>
    </div>
</div>

<div id="loader" *ngIf="showLoader">
    <img src="./images/loader.svg" alt="" />
</div>