<div>
    <form [formGroup]="myForm" class="grid grid-cols-3 gap-6 p-6 rounded-lg">

        <div class="col-span-3">
            <label for="name" class="block text-sm font-medium">Nombre</label>
            <input id="name" formControlName="name"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" maxlength="254"
                oninput="this.value = this.value.toUpperCase();" />
            <span *ngIf="isValidField('name')" class="text-[#EE312A]">
                {{ getFieldError('name') }}
            </span>
        </div>

        <div class="col-span-1">
            <label for="rfc" class="block text-sm font-medium">RFC</label>
            <input id="rfc" formControlName="rfc" (input)="onInputRFC($event)"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" maxlength="13"
                oninput="this.value = this.value.toUpperCase();" />
            <span *ngIf="isValidField('rfc')" class="text-[#EE312A]">
                {{ getFieldError('rfc') }}
            </span>
        </div>
        <div class="col-span-2">
            <label for="regime" class="block text-sm font-medium">Régimen Fiscal</label>
            <select id="" formControlName="regime"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm">
                <option value="" disabled selected>Selecciona un régimen fiscal</option>
                <option *ngFor="let item of listadoRegimen" [value]="item.RegimenFiscal">
                    {{ item.descripcion }}
                </option>
            </select>
            <span *ngIf="isValidField('regime')" class="text-[#EE312A]">
                {{ getFieldError('regime') }}
            </span>
        </div>

        <div class="col-span-1" *ngIf="!RFCXEXX && !RFCXAXX">
            <label for="cp" class="block text-sm font-medium">Código Postal</label>
            <input type="text" class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" id="cp" name="cp"
                formControlName="cp" maxlength="5" (input)="cpSearch($event)" maxlength="5" />
            <span *ngIf="isValidField('cp')" class="text-[#EE312A]">
                {{ getFieldError("cp") }}
            </span>
        </div>

        <div class="col-span-1" *ngIf="RFCXEXX">
            <label for="residence" class="block text-sm font-medium">Residencia</label>
            <input type="text" id="residence" formControlName="residence" (input)="searchPais()"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" maxlength="15"
                oninput="this.value = this.value.toUpperCase();" />
            <span *ngIf="isValidField('residence')" class="text-[#EE312A]">
                {{ getFieldError('residence') }}
            </span>
        </div>

        <div class="col-span-1" *ngIf="RFCXEXX">
            <label for="num_reg_id_trib" class="block text-sm font-medium">Número de Registro Tributario</label>
            <input type="text" id="num_reg_id_trib" formControlName="num_reg_id_trib"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" minlength="1" maxlength="40"
                oninput="this.value = this.value.toUpperCase();" />
            <span *ngIf="isValidField('num_reg_id_trib')" class="text-[#EE312A]">
                {{ getFieldError('num_reg_id_trib') }}
            </span>
        </div>

        <div class="col-span-1">
            <label for="email" class="block text-sm font-medium">Email</label>
            <input id="email" formControlName="email"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" maxlength="75"
                oninput="this.value = this.value.toUpperCase();" />
            <span *ngIf="isValidField('email')" class="text-[#EE312A]">
                {{ getFieldError('email') }}
            </span>
        </div>

        <div class="col-span-1">
            <label for="phone" class="block text-sm font-medium">Teléfono</label>
            <input id="phone" formControlName="phone"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" maxlength="12" />
            <span *ngIf="isValidField('phone')" class="text-[#EE312A]">
                {{ getFieldError('phone') }}
            </span>
        </div>

        <div class="col-span-1">
            <label for="metPago" class="block text-sm font-medium">Método de Pago</label>
            <select id="metPago" formControlName="metPago" (change)="getFormaPago($event)"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm">
                <option value="">Seleccione un método</option>
                <option *ngFor="let metodo of listaMetodoPago" [value]="metodo.metodo">
                    {{ metodo.descripcion }}
                </option>
            </select>
            <span *ngIf="isValidField('metPago')" class="text-[#EE312A]">
                {{ getFieldError('metPago') }}
            </span>
        </div>

        <div class="col-span-1">
            <label for="fomPago" class="block text-sm font-medium">Forma de Pago</label>
            <select id="fomPago" formControlName="fomPago"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm">
                <option value="" disabled selected>Seleccione una forma</option>
                <option *ngFor="let forma of listaFormaPago" [value]="forma.clave">
                    {{ forma.descripcion }}
                </option>
            </select>
            <span *ngIf="isValidField('fomPago')" class="text-[#EE312A]">
                {{ getFieldError('fomPago') }}
            </span>
        </div>

        <div class="col-span-3">
            <label for="address" class="block text-sm font-medium">Dirección</label>
            <textarea formControlName="address" id="address"
                class="border px-4 py-2 w-full rounded-md focus:border-blue-500" rows="4"
                oninput="this.value = this.value.toUpperCase();"></textarea>
            <span *ngIf="isValidField('address')" class="text-[#EE312A]">
                {{ getFieldError('address') }}
            </span>
        </div>

    </form>
</div>

<div class="flex justify-between mb-4 mt-5">
    <div class="ms-3">
        <button type="button" class="ti-btn ti-btn-danger-full text-white !font-medium"
            data-hs-overlay="#hs-extralarge-modal1" (click)="closeModal()">
            Cancelar
        </button>
    </div>
    <div class="mr-3">
        <button class="ti-btn ti-btn-primary-full text-white !font-medium" (click)="onSubmit()">
            Guardar
        </button>
    </div>
</div>

<div id="loader" *ngIf="showLoader">
    <img src="./images/loader.svg" alt="" />
</div>