input[formControlName="descripcion"]{
    background-color: #f1f1f1 !important; 
    color: #121313 !important;
   
}
input[formControlName="ClaveUnidad"]{
    background-color: #f1f1f1 !important; 
    color: #121313 !important;
   
}
input[formControlName="dimensiones"]{
    background-color: #f1f1f1 !important; 
    color: #121313 !important;
   
}