<div>
    <form  [formGroup]="myForm" autocomplete="off" class="grid grid-cols-4 gap-6 p-6  rounded-lg">

        <div class="col-span-2">
            <label for="producto" class="block text-sm font-medium ">C. Producto</label>
            <input type="text" id="producto" formControlName="producto"
                class="mt-1 block w-full rounded-md ">
                <span *ngIf="isValidField('producto')" class="text-[#EE312A]">
                    {{ getFieldError('producto') }}
                </span>
        </div>
        <div class="col-span-2">
            <label for="medida " class="block text-sm font-medium ">U. Medida</label>
            <input type="text" id="medida" formControlName="medida"
                class="mt-1 block w-full rounded-md ">
                <span *ngIf="isValidField('medida')" class="text-[#EE312A]">
                    {{ getFieldError('medida') }}
                </span>
        </div>
    </form>
</div>


<div class="flex justify-between mb-4 mt-5">
    <div class="ms-3">
        <button type="button" class="ti-btn ti-btn-danger-full text-white !font-medium"
            data-hs-overlay="#hs-extralarge-modal1">

            Cancelar
        </button>
    </div>
    <div class="mr-3">
        <button class="ti-btn ti-btn-primary-full text-white !font-medium">
            Crear
        </button>
    </div>
</div>


