<div>
    <pre>{{ myForm.value | json }}</pre>

    <form [formGroup]="myForm" class="grid grid-cols-3 gap-6 p-6 bg-white rounded-lg">
        <div class="col-span-2">
            <label for="internal_key" class="block text-sm font-medium">Clave interna:</label>
            <input id="internal_key" formControlName="internal_key"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm"
                oninput="this.value = this.value.toUpperCase();" />
            <span *ngIf="isValidField('internal_key')" class="text-[#EE312A]">
                {{ getFieldError('internal_key') }}
            </span>
        </div>

        <!-- <div class="col-span-1">
            <label for="product_key" class="block text-sm font-medium">Clave Producto Servicio:</label>
            <input id="product_key" formControlName="product_key" (input)="searchClavProdSer()"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" minlength="8"
                oninput="this.value = this.value.toUpperCase();" />
            <span *ngIf="isValidField('product_key')" class="text-[#EE312A]">
                {{ getFieldError('product_key') }}
            </span>
        </div> -->
        <div class="col-span-3">
            <label for="product_keys" class="form-label text-[.875rem] text-black">Clave Producto Servicio:</label>
            <div class="input-group">
                <input type="text" class="form-control" name="product_keys" id="product_keys"
                    formControlName="product_key" [value]="claveProdServDescription" (input)="onInput($event)"
                    (keydown)="onKeyDown($event)"
                    [ngClass]="{'is-invalid': myForm.get('product_key')?.hasError('notFound') && myForm.get('product_key')?.touched}">

            </div>

            <span *ngIf="myForm.get('product_key')?.hasError('notFound') "
                class="text-[#EE312A] text-sm">
                Este código de producto no se encuentra en el catálogo.
            </span>
            <span *ngIf="isValidField('product_key')" class="text-[#EE312A] text-sm">
                {{ getFieldError('product_key') }}
            </span>

            <ul *ngIf="filteredProducto.length > 0" class="absolute rounded-lg mt-2 w-full">
                <li *ngFor="let producto of filteredProducto; let i = index" (click)="selectProducto(producto)"
                    [ngClass]="{'bg-gray-200': i === selectedIndex}">
                    {{ producto.c_ClaveProdServ }} - {{ producto.descripcion }}
                </li>
            </ul>
        </div>


        <!-- 
        <div class="col-span-1">
            <label for="unit" class="block text-sm font-medium">Clave Unidad:</label>
            <input id="unit" formControlName="unit" 
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" minlength="2" maxlength="3"
                oninput="this.value = this.value.toUpperCase();" />
            <span *ngIf="isValidField('unit')" class="text-[#EE312A]">
                {{ getFieldError('unit') }}
            </span>
        </div> -->
        <div class="col-span-1">
            <label for="unidad" class="form-label text-[.875rem] text-black">Clave Unidad:</label>
            <div class="input-group">
                <input type="text" class="form-control" [value]="claveProdServUnidad" name="unidad" id="unidad"
                    maxlength="8" formControlName="unit" (input)="onInput1($event)" (keydown)="onKeyDown($event)"
                    [ngClass]="{'is-invalid': isValidField('unit')}">
            </div>

            <!-- Mensaje de error -->
            <span *ngIf="myForm.get('unit')?.hasError('notFound') && myForm.get('unit')?.touched"
                class="text-[#EE312A] text-sm">
                Este código de unidad no se encuentra en el catálogo.
            </span>
            <span *ngIf="isValidField('unit')" class="text-[#EE312A] text-sm">
                {{ getFieldError('unit') }}
            </span>

            <ul *ngIf="filteredUnidad.length > 0" class="absolute rounded-lg mt-2 w-full">
                <li *ngFor="let unidad of filteredUnidad; let i = index" (click)="selectUnidad(unidad)"
                    [ngClass]="{'bg-gray-200': i === selectedIndex}">
                    {{ unidad.c_claveunidad}} - {{ unidad.nombre }}
                </li>
            </ul>
        </div>





        <div class="col-span-1">
            <label for="unit_description" class="block text-sm font-medium">Descripción de unidad:</label>
            <input type="text" class="form-control" id="unit_description" name="unit_description"
                formControlName="unit_description" maxlength="20" oninput="this.value = this.value.toUpperCase();" />
            @if (isValidField('unit_description')) {
            <span class="text-[#EE312A]">
                {{ getFieldError("unit_description") }}
            </span>
            }
        </div>
        <div class="col-span-1">
            <label for="identifier_number" class="block text-sm font-medium">Numero de Identificación</label>
            <input id="identifier_number" formControlName="identifier_number" type="number"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" minlength="1" maxlength="100" />
            <span *ngIf="isValidField('identifier_number')" class="text-[#EE312A]">
                {{ getFieldError('identifier_number') }}
            </span>
        </div>

        <div class="col-span-1">
            <label for="unit_price" class="block text-sm font-medium">Precio:</label>
            <input id="unit_price" formControlName="unit_price" type="number"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" maxlength="30" />
            <span *ngIf="isValidField('unit_price')" class="text-[#EE312A]">
                {{ getFieldError('unit_price') }}
            </span>
        </div>
        <div class="col-span-1">
            <label for="quantity" class="block text-sm font-medium">Cantidad:</label>
            <input id="quantity" formControlName="quantity" type="number"
                class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" maxlength="30" />
            <span *ngIf="isValidField('quantity')" class="text-[#EE312A]">
                {{ getFieldError('quantity') }}
            </span>
        </div>
        <div class="col-span-3">
            <label for="description" class="block text-sm font-medium">Descripción:</label>
            <textarea formControlName="description" id="description"
                class="border px-4 py-2 w-full rounded-md focus:border-blue-500" rows="4"
                oninput="this.value = this.value.toUpperCase();"></textarea>
            <span *ngIf="isValidField('description')" class="text-[#EE312A]">
                {{ getFieldError('description') }}
            </span>
        </div>
        <div class="col-span-4">
            <label for="status" class="form-label">Status</label>
            <div class="custom-toggle-switch ms-2">
                <input id="size-default" name="status" formControlName="status" type="checkbox"
                    [checked]="myForm.get('status')?.value" />
                <label for="size-default" class="label-success mb-1"></label>
            </div>
        </div>

    </form>
</div>


<div class="flex justify-between mb-4 mt-5">
    <div class="ms-3">
        <button type="button" class="ti-btn ti-btn-danger-full text-white !font-medium" (click)="closeModal()"
            data-hs-overlay="#hs-extralarge-modal1">

            Cancelar
        </button>
    </div>
    <div class="mr-3">
        <button class="ti-btn ti-btn-primary-full text-white !font-medium" (click)="onSubmit()">
            {{buttonTitle}}
        </button>
    </div>
</div>
<div id="loader" *ngIf="showLoader">
    <img src="images/loader.svg" alt="" />
</div>