<!-- <div class="flex justify-end mt-6">
    @if (isTableActive){
    <button type="button" class="ti-btn ti-btn-primary p-4 mr-4" (click)="selectTab(false)">
        <i class="ri-add-line"></i>
    </button>
    }
</div> -->

<div class="tab-pane fade show active mb-4" id="tabla-tab-pane" role="tabpanel">
    @if (isTableActive){
    <div class="flex justify-between mb-4 ">
        <div class="flex items-center space-x-4 ml-4 mb-4">
            <input type="text" class="p-2 border rounded-md" placeholder="Buscar..." />
        </div>

        <div class="flex items-center space-x-2 mr-4 mb-4">
            <label for="rows-per-page" class="text-sm">Mostrar</label>
            <select id="rows-per-page" class="p-2 border rounded-md">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
    <table class="min-w-full table-auto border-collapse border border-gray-300">
        <thead>
            <tr>
                <th class="px-4 py-2 border border-gray-300">Clave SAT</th>
                <th class="px-4 py-2 border border-gray-300">producto/Servicio</th>
                <th class="px-4 py-2 border border-gray-300">Unidad</th>
                <th class="px-4 py-2 border border-gray-300">Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="px-4 py-2 border border-gray-300">563546435345</td>
                <td class="px-4 py-2 border border-gray-300">ejemplo</td>
                <td class="px-4 py-2 border border-gray-300">4</td>
                <td class="px-4 py-2 border border-gray-300">
                    @if (isTableActive)
                    {
                    <!-- <button type="button" class="ti-btn ti-btn-primary mr-7" (click)="selectTab(false)">
                        <i class="ri-edit-line"></i>
                    </button> -->
                    <button type="button" class="ti-btn ti-btn-primary mr-7">
                        <i class="ri-edit-line"></i>
                    </button>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <div class="flex justify-end space-x-4 mt-4">
        <button class="p-2  rounded-l-md ">
            Anterior
        </button>
        <button class="p-2  rounded-r-md ">
            Siguiente
        </button>
    </div>
    }
</div>

<div class="tab-pane fade show active" id="crear-tab-pane" role="tabpanel">
    @if (isCreateActive){
    <!-- <div class="mb-4 flex justify-end me-2">
        <button type="button" class="ti-btn ti-btn-primary px-4 py-2" (click)="selectTab(true)">
            <i class="ri-arrow-left-line"></i>
        </button>
    </div> -->

    <form [formGroup]="formConcepts" (submit)="onSubmit()">
        <div class="m-1 p-1">
            <!-- <pre>{{ formConcepts.value | json}}</pre> -->
            <div class="grid grid-cols-12 gap-2">
            
                <div  class="col-span-6 relative">
                    <label for="product_service_codes" class="form-label text-[.875rem] text-black">Codigo:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="product_service_codes" id="residenciaFiscalFiguras"
                            formControlName="product_service_code" oninput="this.value = this.value.toUpperCase();"
                            [value]="claveConcepto" (input)="onInput($event)" (keydown)="onKeyDown($event)"
                            [ngClass]="{'is-invalid': formConcepts.get('product_service_code')?.hasError('notFound') && formConcepts.get('product_service_code')?.touched}">
        
                    </div>
        
                    <span *ngIf="formConcepts.get('product_service_code')?.hasError('notFound') " class="text-[#EE312A] text-sm">
                        Este código de producto no se encuentra en el catálogo.
                    </span>
                    <span *ngIf="isValidField('product_service_code')" class="text-[#EE312A] text-sm">
                        {{ getFieldError('product_service_code') }}
                    </span>
        
                    <ul *ngIf="filteredConcepto.length > 0" class="absolute rounded-lg mt-2 w-full">
                        <li *ngFor="let conceptos of filteredConcepto; let i = index" (click)="selectConcepto(conceptos)"
                            [ngClass]="{'bg-gray-200': i === selectedIndex}">
                            {{ conceptos.identifier_number }} - {{ conceptos.internal_key }}
                        </li>
                    </ul>
                </div>
                <div class="col-span-12 sm:col-span-12 md:col-span-3">
                    <label class="block form-label">Producto/Servicio:</label>
                    <input type="text" class="border px-4 py-2 w-full form-control" formControlName="name_product" readonly />
                </div>
                <div class="col-span-12 sm:col-span-12 md:col-span-3">
                    <label class="block form-label">Unidad:</label>
                    <input type="text" class="border px-4 py-2 w-full form-control" formControlName="unit_value" readonly />
                </div>
                <div class="col-span-6">
                    <label for="unit_description" class=" form-label text-[.875rem] block text-sm font-medium">Descripción de
                        Unidad:</label>
                    <input type="text" class="form-control" id="unit_description" name="unit_description" 
                        formControlName="unit_description"  />
                    @if (isValidField('unit_description')) {
                    <span class="text-[#EE312A]">
                        {{ getFieldError("unit_description") }}
                    </span>
        
                    }
                </div>
                <div class="col-span-6">
                    <label for="identifier_number" class="block text-sm font-medium">Numero de Identificación:</label>
                    <input id="identifier_number" formControlName="identifier_number"
                        oninput="this.value = this.value.toUpperCase(); readonly"
                        class="mt-1 block w-full rounded-md focus:border-blue-500 sm:text-sm" />
                    <span *ngIf="isValidField('identifier_number')" class="text-[#EE312A]">
                        {{ getFieldError('identifier_number') }}
                    </span>
                </div>
                <div class="col-span-12 sm:col-span-12 md:col-span-12">
                    <label class="block form-label">Descripción:</label>
                    <textarea class="border px-4 py-2 w-full" rows="3" formControlName="description"></textarea>
                    <span *ngIf="isValidField('description')" class="text-[#EE312A]">
                        {{ getFieldError('description') }}
                    </span>
                </div>
                <div class="col-span-12 sm:col-span-12 md:col-span-3">
                    <label class="block form-label">Cantidad:</label>
                    <input type="number" class="border px-4 py-2 w-full form-control" formControlName="quantity"
                        step="0.000001" />
                    <span *ngIf="isValidField('quantity')" class="text-[#EE312A]">
                        {{ getFieldError('quantity') }}
                    </span>
                </div>
                <div class="col-span-12 sm:col-span-12 md:col-span-3">
                    <label class="block form-label">Precio:</label>
                    <input type="number" class="border px-4 py-2 w-full form-control" formControlName="unit_price"
                        step="0.000001" />
                    <span *ngIf="isValidField('unit_price')" class="text-[#EE312A]">
                        {{ getFieldError('unit_price') }}
                    </span>
                </div>

                <!--  -->
                @if (typeProof !== 'T') {
                <div class="col-span-12 sm:col-span-12 md:col-span-3">
                    <label class="block form-label">Descuento %:</label>
                    <input type="number" class="border px-4 py-2 w-full form-control" formControlName="discount" />
                </div>
                <div class="col-span-12 sm:col-span-12 md:col-span-3">
                    <label class="form-label" for="objeto">ObjetoImp: </label>
                    <select class="border px-4 py-2 w-full form-control" formControlName="tax_object">
                        <option value="01">No objeto de impuesto</option>
                        <option value="02">Sí objeto de impuesto</option>
                        <option value="03">Sí objeto de impuesto y no oblig</option>
                    </select>
                </div>
                }
            </div>

            @if (isTax) {

            <!-- <div class="row" formArrayName="traslados"> -->
            <div class="grid grid-cols-12 gap-4" formArrayName="traslados">
                @for (traslado of traslados.controls; track i; let i = $index) {

                <div class="col-span-12 sm:col-span-12 md:col-span-4" [formGroupName]="i">
                    <label class=" block form-label text-[.875rem] text-black" for="traslados{{ i }}">{{
                        traslado.get('descripcion')?.value }}:</label>
                    <select class="block w-full rounded-md sm:text-sm form-select !py-[0.59rem]" name="traslados{{ i }}"
                        id="traslados{{ i }}" formControlName="tasaOCuota" (change)="calculate()">
                        @if (traslado.get('descripcion')?.value == 'IVA') {
                        <option value="0.160000">0.160000</option>
                        <option value="0.080000">0.080000</option>
                        <option value="0.000000">0.000000</option>
                        <option value="Exento">Exento</option>
                        <option value="N/A">N/A</option>
                        }@else {
                        <option value="N/A">N/A</option>
                        <option value="0.000000">0.000000</option>
                        <option value="0.030000">0.030000</option>
                        <option value="0.060000">0.060000</option>
                        <option value="0.070000">0.070000</option>
                        <option value="0.080000">0.080000</option>
                        <option value="0.090000">0.090000</option>
                        <option value="0.250000">0.250000</option>
                        <option value="0.265000">0.265000</option>
                        <option value="0.300000">0.300000</option>
                        <option value="0.304000">0.304000</option>
                        <option value="0.500000">0.500000</option>
                        <option value="0.530000">0.530000</option>
                        <option value="0.160000">0.160000</option>
                        }
                    </select>
                    @if (isValidField2('traslados', i, 'tasaOCuota')) {
                    <span class="text-[#EE312A]">
                        {{ getFieldError2('traslados', i, 'tasaOCuota') }}
                    </span>
                    }
                </div>
                }
            </div>
            <div class="grid grid-cols-12 gap-4" formArrayName="retenidos">
                @for (retenido of retenidos.controls; track i; let i = $index) {
                <div class="col-span-4 sm:col-span-12 md:col-span-4" [formGroupName]="i">
                    <label class="form-label text-[.875rem] text-black" for="retenidos{{ i }}">{{
                        retenido.get('descripcion')?.value }}:</label>
                    <input type="number" class="border px-4 py-2 w-full form-control" formControlName="tasaOCuota" (change)="calculate()"/>
                    @if (isValidField2('retenidos', i, 'tasaOCuota')) {
                    <span class="text-[#EE312A]">
                        {{ getFieldError2('retenidos', i, 'tasaOCuota') }}
                    </span>
                    }
                </div>
                }
            </div>
            }

            <div class="col-span-12 sm:col-span-12 md:col-span-3">
                <label class="block form-label">Importe:</label>
                <input type="text" class="border px-4 py-2 w-full form-control" formControlName="total_product"
                    readonly />
                @if (isValidField('total_product')) {
                <span class="text-[#EE312A]">
                    {{ getFieldError('total_product') }}
                </span>
                }
            </div>
        </div>
        <div class="flex justify-between my-5 p-2 mx-2">
            <div>
                <button type="button" class="ti-btn ti-btn-danger-full text-white !font-medium ti-btn-darken-hover"
                    (click)="closeModal()" data-hs-overlay="#hs-extralarge-modal3">
                    Cancelar
                </button>
            </div>
            <div>
                <button type="submit" class="ti-btn ti-btn-primary-full text-white !font-medium ti-btn-darken-hover">
                    {{ tittleButton }}
                </button>
            </div>
        </div>
    </form>

    }
</div>

<div class="flex justify-between mb-4 mt-5">
    @if (isTableActive){

    <div class="ms-3">
        <button type="button" class="ti-btn ti-btn-danger-full text-white !font-medium"
            data-hs-overlay="#hs-extralarge-modal3">
            Cancelar
        </button>
    </div>
    }
</div>
<div id="loader" *ngIf="showLoader">
    <img src="images/loader.svg" alt="" />
</div>