<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-12 col-span-12">

        <div class="border-b pb-4 mb-4">
            <h1 class="text-xl font-bold">Factura</h1>
        </div>

        <div class="p-6 rounded-md shadow-md">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                <div>
                    <label for="emisor" class="block text-sm font-medium">Emisor</label>
                    <input id="emisor" type="text" class="mt-1 block w-full rounded-md sm:text-sm">
                </div>
                <div>
                    <label for="fecha" class="block text-sm font-medium">Fecha</label>
                    <input id="fecha" type="date" value="2024-12-17" class="mt-1 block w-full rounded-md sm:text-sm" />
                </div>

                <div>
                    <label for="serie" class="block text-sm font-medium">Serie y Folio</label>
                    <div class="flex">
                        <input id="serie" type="text" class="mt-1 flex-1 rounded-md sm:text-sm">
                        <button type="button" class="ti-btn ti-btn-primary" data-hs-overlay="#hs-extralarge-modal2">
                            <i class="ri-add-line"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <label for="tipo" class="block text-sm font-medium">Tipo de Comprobante</label>
                    <select id="tipo" class="mt-1 block w-full rounded-md sm:text-sm">
                        <option>Ingreso</option>
                        <option>Egreso</option>
                    </select>
                </div>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
                <div>
                    <label for="regimen" class="block text-sm font-medium">Régimen</label>
                    <select id="regimen" class="mt-1 block w-full rounded-md sm:text-sm">
                        <option>Selecciona</option>
                    </select>
                </div>
                <div>
                    <label for="receptor" class="block text-sm font-medium">Receptor</label>
                    <div class="flex">
                        <input id="Receptor" type="text" class="mt-1 flex-1 rounded-md sm:text-sm">
                        <button type="button" class="ti-btn ti-btn-primary " data-hs-overlay="#hs-extralarge-modal1">
                            <i class="ri-add-line"></i>
                        </button>
                    </div>

                </div>
                <div>
                    <label for="uso" class="block text-sm font-medium">Uso CFDI</label>
                    <input id="uso" type="text" class="mt-1 block w-full rounded-md sm:text-sm">
                </div>
            </div>

            <hr class="my-6 border-gray-300">

            <div>
                <table class="w-full border border-gray-200">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border-b text-left">Código</th>
                            <th class="py-2 px-4 border-b text-left">Descripción</th>
                            <th class="py-2 px-4 border-b text-center">Cantidad</th>
                            <th class="py-2 px-4 border-b text-center">Precio U.</th>
                            <th class="py-2 px-4 border-b text-center">Descuento</th>
                            <th class="py-2 px-4 border-b text-center">ObjetoImp</th>
                            <th class="py-2 px-4 border-b text-center">Importe</th>
                            <th class="py-2 px-4 border-b text-center">Acc</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8" class="py-4 px-4 text-center text-gray-500">No hay artículos</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button"
                    class="mt-4 flex items-center justify-center w-10 h-10  rounded-full  mx-auto  ti-btn-primary "
                    data-hs-overlay="#hs-extralarge-modal3">
                    <i class="ri-add-line "></i>
                </button>

            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mt-6">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label for="metodo-pago" class="block text-sm font-medium">Método Pago</label>
                        <select id="metodo-pago" class="mt-1 block w-full rounded-md sm:text-sm">
                            <option>Pago en parcialidades o diferido</option>
                        </select>
                    </div>
                    <div>
                        <label for="forma-pago" class="block text-sm font-medium">Forma Pago</label>
                        <select id="forma-pago" class="mt-1 block w-full rounded-md sm:text-sm">
                            <option>Por definir</option>
                        </select>
                    </div>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label for="moneda" class="block text-sm font-medium">Moneda</label>
                        <select id="moneda" class="mt-1 block w-full rounded-md sm:text-sm">
                            <option>Peso Mexicano</option>
                        </select>
                    </div>
                    <div>
                        <label for="condiciones" class="block text-sm font-medium">Condiciones</label>
                        <input id="condiciones" type="text" class="mt-1 block w-full rounded-md sm:text-sm"
                            value="Crédito">
                    </div>
                </div>
            </div>

            <hr class="my-6 border-gray-300">

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label for="tipo-cambio" class="block text-sm font-medium">Tipo de Cambio</label>
                        <input id="tipo-cambio" type="text" class="mt-1 block w-full rounded-md sm:text-sm" value="1">
                    </div>
                    <div>
                        <label for="fecha-vencimiento" class="block text-sm font-medium">Fecha Vencimiento</label>
                        <input id="fecha-vencimiento" type="date" class="mt-1 block w-full rounded-md sm:text-sm">
                    </div>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div class="text-sm font-medium">
                        <p>SubTotal: <span class="float-right font-bold">0.00</span></p>
                        <p>Descuento: <span class="float-right font-bold">0.00</span></p>
                        <p>Impuestos: <span class="float-right font-bold">0.00</span></p>
                        <p>Retenciones: <span class="float-right font-bold">0.00</span></p>
                    </div>
                    <div>
                        <p class="text-lg font-bold">Total: <span class="float-right">0.00</span></p>
                    </div>
                </div>
            </div>

            <div class="mt-6 text-right">
                <button class="px-6 py-2 bg-blue-500 rounded-md hover:bg-blue-600">
                    Enviar
                </button>
            </div>
        </div>
    </div>
    <div id="hs-extralarge-modal1" class="hs-overlay hidden ti-modal [--overlay-backdrop:static]">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out lg:!max-w-4xl lg:w-full m-3 lg:!mx-auto">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="ti-modal-title">Receptor</h6>
                </div>
                <app-form-invoice />
            </div>
        </div>
    </div>
    <div id="hs-extralarge-modal3" class="hs-overlay hidden ti-modal [--overlay-backdrop:static]">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out lg:!max-w-4xl lg:w-full m-3 lg:!mx-auto">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="ti-modal-title">Productos/servicios</h6>
                </div>
                <app-form-invoice-products />
            </div>
        </div>
    </div>
    <div id="hs-extralarge-modal2" class="hs-overlay hidden ti-modal [--overlay-backdrop:static]">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out lg:!max-w-4xl lg:w-full m-3 lg:!mx-auto">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="ti-modal-title">Series y Folio</h6>
                </div>
                <app-form-invoice-serie />
            </div>
        </div>
    </div>
</div>