<div>
    <form [formGroup]="myForm" class="grid grid-cols-3 gap-6 p-6  rounded-lg">
        <pre>

            {{ myForm.value | json }}
        </pre>
        <div class="col-span-1">
            <label for="tipoFigura" class="block text-sm font-medium">Tipo</label>
            <select id="tipoFigura" formControlName="tipoFigura" class="mt-1 block w-full rounded-md"
                (change)="onTipoFiguraChange($event)">
                <option>Seleccionar Operador</option>
                <option>Operador</option>
                <option>Proprietario</option>
                <option>Arrendador</option>
                <option>Notificador</option>
                <option>Integrante de Coordinados</option>
            </select>
            <span *ngIf="isValidField('tipoFigura')" class="text-[#EE312A]">
                {{ getFieldError('tipoFigura') }}
            </span>
        </div>
        <div *ngIf="showRfcFigura" class="col-span-1">
            <label for="rfcFigura" class="block text-sm font-medium " >RFC</label>
            <input type="text" id="rfcFigura" formControlName="rfcFigura" 
            class="mt-1 block w-full rounded-md " maxlength="13">
            <span *ngIf="isValidField('rfcFigura')" class="text-[#EE312A]">
                {{ getFieldError('rfcFigura') }}
            </span>
        </div>

        <div *ngIf="isOperadorSelected" class="col-span-1">
            <label for="numLicencia" class="block text-sm font-medium">Num. Licencia</label>
            <input type="text" id="numLicencia" formControlName="numLicencia" maxlength="16" minlength="6"
                class="mt-1 block w-full rounded-md">
            <span *ngIf="isValidField('numLicencia')" class="text-[#EE312A]">
                {{ getFieldError('numLicencia') }}
            </span>
        </div>
        <div class="col-span-1">
            <label for="nombreFigura" class="block text-sm font-medium ">Nombre</label>
            <input type="text" id="nombreFigura" formControlName="nombreFigura" minlength="1"
                class="mt-1 block w-full rounded-md ">
            <span *ngIf="isValidField('nombreFigura')" class="text-[#EE312A]">
                {{ getFieldError('nombreFigura') }}
            </span>
        </div>
        <div  *ngIf="showNumRegIdTribFigura" class="col-span-1">
            <label for="numRegIdTribFigura" class="block text-sm font-medium ">Num.Reg.Trib</label>
            <input type="text" id="numRegIdTribFigura" formControlName="numRegIdTribFigura"
                class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500">
            <span *ngIf="isValidField('numRegIdTribFigura')" class="text-[#EE312A]">
                {{ getFieldError('numRegIdTribFigura') }}
            </span>
        </div>
        
        <div *ngIf="showResidenciaFiscalFigura" class="col-span-1 relative">
            <label for="residenciaFiscalFiguras" class="form-label text-[.875rem] text-black">Residencia Fiscal:</label>
            <div class="input-group">
                <input type="text" class="form-control" name="residenciaFiscalFiguras" id="residenciaFiscalFiguras"
                    formControlName="residenciaFiscalFigura" [value]="clavepaisDescription2" (input)="onInput1($event)"
                    (keydown)="onKeyDown($event)"
                    [ngClass]="{'is-invalid': myForm.get('residenciaFiscalFigura')?.hasError('notFound') && myForm.get('residenciaFiscalFigura')?.touched}">

            </div>

            <span *ngIf="myForm.get('residenciaFiscalFigura')?.hasError('notFound') " class="text-[#EE312A] text-sm">
                Este código de producto no se encuentra en el catálogo.
            </span>
            <span *ngIf="isValidField('residenciaFiscalFigura')" class="text-[#EE312A] text-sm">
                {{ getFieldError('residenciaFiscalFigura') }}
            </span>

            <ul *ngIf="filteredPais2.length > 0" class="absolute rounded-lg mt-2 w-full">
                <li *ngFor="let pais of filteredPais2; let i = index" (click)="selectPais2(pais)"
                    [ngClass]="{'bg-gray-200': i === selectedIndex}">
                    {{ pais.c_pais }} - {{ pais.descripcion }}
                </li>
            </ul>
        </div>

        <div class="col-span-1">
            <input id="domicilio" type="checkbox"  formControlName="domicilio"(change)="toggleDomicilio()"
                class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
            <label for="domicilio" class="ml-2 text-sm">Domicilio</label>
        </div>


        <div *ngIf="isDomicilioChecked" class="col-span-3">
            <div class="grid grid-cols-3 gap-6">
               
                <div class="col-span-3 relative">
                    <label for="product_keys" class="form-label text-[.875rem] text-black">pais:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="product_keys" id="product_keys"
                            formControlName="pais" [value]="clavepaisDescription" (input)="onInput($event)"
                            (keydown)="onKeyDown($event)"
                            [ngClass]="{'is-invalid': myForm.get('pais')?.hasError('notFound') && myForm.get('pais')?.touched}">

                    </div>

                    <span *ngIf="myForm.get('pais')?.hasError('notFound') " class="text-[#EE312A] text-sm">
                        Este código de producto no se encuentra en el catálogo.
                    </span>
                    <span *ngIf="isValidField('pais')" class="text-[#EE312A] text-sm">
                        {{ getFieldError('pais') }}
                    </span>

                    <ul *ngIf="filteredPais.length > 0" class="absolute rounded-lg mt-2 w-full">
                        <li *ngFor="let pais of filteredPais; let i = index" (click)="selectPais(pais)"
                            [ngClass]="{'bg-gray-200': i === selectedIndex}">
                            {{ pais.c_pais }} - {{ pais.descripcion }}
                        </li>
                    </ul>
                </div>
                <div class="col-span-1">
                    <label for="codigoPostal" class="block text-sm font-medium ">C. postal</label>
                    <input type="text" id="codigoPostal" formControlName="codigoPostal" (blur)="onCodigoPostalBlur()"
                        class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500">
                    <span *ngIf="isValidField('codigoPostal')" class="text-[#EE312A]">
                        {{ getFieldError('codigoPostal') }}
                    </span>
                </div>
                <div class="col-span-1">
                    <label for="estado" class="block text-sm font-medium ">Estado</label>
                    <input type="text" id="estado" formControlName="estado"  [attr.readonly]="isEstadoReadonly ? true : null"
                        class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500">
                    <span *ngIf="isValidField('estado')" class="text-[#EE312A]">
                        {{ getFieldError('estado') }}
                    </span>
                </div>

                <div class="col-span-1">
                    <label for="municipio" class="block text-sm font-medium ">Municipio</label>
                    <input type="text" id="municipio" formControlName="municipio"
                        class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500">
                    <span *ngIf="isValidField('municipio')" class="text-[#EE312A]">
                        {{ getFieldError('municipio') }}
                    </span>
                </div>
                <div class="col-span-1">
                    <label for="localidad" class="block text-sm font-medium">Localidad</label>
                    <input *ngIf="myForm.get('pais')?.value !== 'MEX'" type="text" id="localidad"
                        formControlName="localidad"
                        class="mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500" />
                    <select *ngIf="myForm.get('pais')?.value === 'MEX'" id="localidad" formControlName="localidad"
                        class="mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500">
                        <option *ngFor="let localidad of localidades" [value]="localidad">
                            {{ localidad }}
                        </option>
                    </select>
                </div>

                <div class="col-span-1">
                    <label for="colonia" class="block text-sm font-medium">Colonia</label>
                    <input *ngIf="myForm.get('pais')?.value !== 'MEX'" type="text" id="colonia"
                        formControlName="colonia"
                        class="mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500" />
                    <select *ngIf="myForm.get('pais')?.value === 'MEX'" id="colonia" formControlName="colonia"
                        class="mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500">
                        <option *ngFor="let colonia of colonias" [value]="colonia">
                            {{ colonia }}
                        </option>
                    </select>
                </div>

                <div class="col-span-1">
                    <label for="calle" class="block text-sm font-medium ">Calle</label>
                    <input type="text" id="calle" formControlName="calle"
                        class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500">
                    <span *ngIf="isValidField('calle')" class="text-[#EE312A]">
                        {{ getFieldError('calle') }}
                    </span>
                </div>
                <div class="col-span-1">
                    <label for="numeroExterior" class="block text-sm font-medium ">Num. Exterior</label>
                    <input type="text" id="numeroExterior" formControlName="numeroExterior"
                        class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500">
                    <span *ngIf="isValidField('numeroExterior')" class="text-[#EE312A]">
                        {{ getFieldError('numeroExterior') }}
                    </span>
                </div>
                <div class="col-span-1">
                    <label for="numeroInterior" class="block text-sm font-medium ">Num. Interior</label>
                    <input type="text" id="numeroInterior" formControlName="numeroInterior"
                        class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500">
                    <span *ngIf="isValidField('numeroInterior')" class="text-[#EE312A]">
                        {{ getFieldError('numeroInterior') }}
                    </span>
                </div>

                <div class="col-span-3">
                    <label for="referencia" class="block text-sm font-medium ">Referencia</label>
                    <textarea id="referencia" formControlName="referencia"
                        class="mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500"
                        rows="4"></textarea>
                    <span *ngIf="isValidField('referencia')" class="text-[#EE312A]">
                        {{ getFieldError('referencia') }}
                    </span>
                </div>

            </div>
        </div>

    </form>
</div>


<div class="flex justify-between mb-4 mt-5">
    <div class="ms-3">
        <button type="button" class="ti-btn ti-btn-danger-full text-white !font-medium" (click)="closeModal()"
            data-hs-overlay="#hs-extralarge-modal1">
            Cancelar
        </button>
    </div>
    <div class="mr-3">
        <button class="ti-btn ti-btn-primary-full text-white !font-medium" (click)="onSubmit()">
            {{buttonTitle}}
        </button>
    </div>
</div>

<div id="loader" *ngIf="showLoader">
    <img src="images/loader.svg" alt="" />
</div>