<div>
    <form [formGroup]="myForm"  autocomplete="off" class="grid grid-cols-4 gap-6 p-6  rounded-lg">
        <!-- <pre>
            

            {{ myForm.value | json }}
        </pre> -->
        <div class="col-span-2">
            <label for="tipoFigura" class="block text-sm font-medium">Tipo:</label>
            <select id="tipoFigura" formControlName="tipoFigura" class="mt-1 block w-full rounded-md"
                (change)="onTipoFiguraChange($event)">
                <option>Seleccionar Operador</option>
                <option>Operador</option>
                <option>Proprietario</option>
                <option>Arrendador</option>
                <option>Notificador</option>
                <option>Integrante de Coordinados</option>
            </select>
            <span *ngIf="isValidField('tipoFigura')" class="text-[#EE312A]">
                {{ getFieldError('tipoFigura') }}
            </span>
        </div>
        <div *ngIf="showRfcFigura" class="col-span-2">
            <label for="rfcFigura" class="block text-sm font-medium ">RFC:</label>
            <input type="text" id="rfcFigura" formControlName="rfcFigura" class="mt-1 block w-full rounded-md "
                maxlength="13" oninput="this.value = this.value.toUpperCase();">
            <span *ngIf="isValidField('rfcFigura')" class="text-[#EE312A]">
                {{ getFieldError('rfcFigura') }}
            </span>
        </div>

        <div *ngIf="isOperadorSelected" class="col-span-1">
            <label for="numLicencia" class="block text-sm font-medium">Num. Licencia</label>
            <input type="text" id="numLicencia" formControlName="numLicencia" maxlength="16" minlength="6"
                class="mt-1 block w-full rounded-md" oninput="this.value = this.value.toUpperCase();">
            <span *ngIf="isValidField('numLicencia')" class="text-[#EE312A]">
                {{ getFieldError('numLicencia') }}
            </span>
        </div>
        <div class="col-span-4">
            <label for="nombreFigura" class="block text-sm font-medium ">Nombre:</label>
            <input type="text" id="nombreFigura" formControlName="nombreFigura" minlength="1"
                class="mt-1 block w-full rounded-md " oninput="this.value = this.value.toUpperCase();">
            <span *ngIf="isValidField('nombreFigura')" class="text-[#EE312A]">
                {{ getFieldError('nombreFigura') }}
            </span>
        </div>
        <div *ngIf="showNumRegIdTribFigura" class="col-span-2 relative">
            <label for="numRegIdTribFigura" class="block text-sm font-medium ">Num.Reg.Trib:
                <span class="ml-1 cursor-pointer text-blue-500" (mouseenter)="showTooltip = true"
                    (mouseleave)="showTooltip = false">
                    <i class="fa fa-question-circle"></i>
                </span>

            </label>
            <input type="text" id="numRegIdTribFigura" formControlName="numRegIdTribFigura"
                class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500"
                oninput="this.value = this.value.toUpperCase();">
            <span *ngIf="isValidField('numRegIdTribFigura')" class="text-[#EE312A]">
                {{ getFieldError('numRegIdTribFigura') }}
            </span>

            <div *ngIf="showTooltip"
                class="absolute left-0 top-full mt-1 w-64 bg-gray-900 text-white text-xs rounded p-2 shadow-md z-20">
                Atributo condicional para registrar el número de
                identificación o registro fiscal del país de residencia de la
                figura de transporte que interviene en el traslado de los
                bienes y/o mercancías
            </div>
        </div>

        <div *ngIf="showResidenciaFiscalFigura" class="col-span-2 relative">
            <label for="residenciaFiscalFiguras" class="form-label text-[.875rem] text-black">Residencia Fiscal:</label>
            <div class="input-group">
                <input type="text" class="form-control" name="residenciaFiscalFiguras" id="residenciaFiscalFiguras"
                    formControlName="residenciaFiscalFigura" oninput="this.value = this.value.toUpperCase();"
                    [value]="clavepaisDescription2" (input)="onInput1($event)" (keydown)="onKeyDown($event)"
                    [ngClass]="{'is-invalid': myForm.get('residenciaFiscalFigura')?.hasError('notFound') && myForm.get('residenciaFiscalFigura')?.touched}">

            </div>

            <span *ngIf="myForm.get('residenciaFiscalFigura')?.hasError('notFound') " class="text-[#EE312A] text-sm">
                Este código de producto no se encuentra en el catálogo.
            </span>
            <span *ngIf="isValidField('residenciaFiscalFigura')" class="text-[#EE312A] text-sm">
                {{ getFieldError('residenciaFiscalFigura') }}
            </span>

            <ul *ngIf="filteredPais2.length > 0" class="absolute rounded-lg mt-2 w-full">
                <li *ngFor="let pais of filteredPais2; let i = index" (click)="selectPais2(pais)"
                    [ngClass]="{'bg-gray-200': i === selectedIndex}">
                    {{ pais.c_pais }} - {{ pais.descripcion }}
                </li>
            </ul>
        </div>

        <div class="col-span-4">
            <input id="domicilio" type="checkbox" formControlName="domicilio" (change)="toggleDomicilio()"
                class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
            <label for="domicilio" class="ml-2 text-sm">Domicilio</label>
        </div>


        <div *ngIf="isDomicilioChecked" class="col-span-4">
            <div class="grid grid-cols-4 gap-6">

                <div class="col-span-4 relative">
                    <label for="paises" class="form-label text-[.875rem] text-black">Pais:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="paises" id="paises"
                            formControlName="pais" [value]="clavepaisDescription" (input)="onInput($event)"
                            (keydown)="onKeyDown($event)"
                            [ngClass]="{'is-invalid': myForm.get('pais')?.hasError('notFound') && myForm.get('pais')?.touched}"
                            oninput="this.value = this.value.toUpperCase();">

                    </div>

                    <span *ngIf="myForm.get('pais')?.hasError('notFound') " class="text-[#EE312A] text-sm">
                        Este código de producto no se encuentra en el catálogo.
                    </span>
                    <span *ngIf="isValidField('pais')" class="text-[#EE312A] text-sm">
                        {{ getFieldError('pais') }}
                    </span>
                    <span *ngIf="myForm.get('pais')?.hasError('notSelected')" class="text-[#EE312A] text-sm">
                        Debe seleccionar una opción de la lista.
                    </span>
                    <ul *ngIf="filteredPais.length > 0" class="absolute rounded-lg mt-2 w-full">
                        <li *ngFor="let pais of filteredPais; let i = index" (click)="selectPais(pais)"
                            [ngClass]="{'bg-gray-200': i === selectedIndex}">
                            {{ pais.c_pais }} - {{ pais.descripcion }}
                        </li>
                    </ul>
                </div>
                <div class="col-span-2">
                    <label for="codigoPostal" class="block text-sm font-medium ">C. postal:</label>
                    <input type="text" id="codigoPostal" formControlName="codigoPostal" (blur)="onCodigoPostalBlur()"
                        class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500"
                        oninput="this.value = this.value.toUpperCase();">
                    <span *ngIf="isValidField('codigoPostal')" class="text-[#EE312A]">
                        {{ getFieldError('codigoPostal') }}
                    </span>
                </div>
                <div class="col-span-2">
                    <label for="estado" class="block text-sm font-medium">Estado:</label>
                    <input type="text" id="estado" formControlName="estado"   [attr.readonly]="isEstadoReadonly ? true : null"  [value]="estadoDescripcion" readonly
                        class="mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500">
                    <span *ngIf="isValidField('estado')" class="text-[#EE312A]">
                        {{ getFieldError('estado') }}
                    </span>
                </div>


                <div class="col-span-2">
                    <label for="municipio" class="block text-sm font-medium ">Municipio:</label>
                    <input type="text" id="municipio" formControlName="municipio"   [attr.readonly]="isEstadoReadonly ? true : null" [value]="municipioDescripcion"
                        readonly class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500">
                    <span *ngIf="isValidField('municipio')" class="text-[#EE312A]">
                        {{ getFieldError('municipio') }}
                    </span>
                </div>
                <div class="col-span-2">
                    <label for="localidad" class="block text-sm font-medium">Localidad:</label>
                    <input *ngIf="myForm.get('pais')?.value !== 'MEX'" type="text" id="localidad"
                        formControlName="localidad"
                        class="mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500" />
                    <select *ngIf="myForm.get('pais')?.value === 'MEX'" id="localidad" formControlName="localidad"
                        class="mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500">
                        <option value="" selected >Elegir opción</option>
                        <option *ngFor="let localidad of localidades" [value]="localidad.valor">
                            {{ localidad.descripcion }}
                        </option>
                    </select>
                </div>

                <div class="col-span-2">
                    <label for="colonia" class="block text-sm font-medium">Colonia:</label>
                    <input *ngIf="myForm.get('pais')?.value !== 'MEX'" type="text" id="colonia"
                        formControlName="colonia"
                        class="mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500" />
                    <select *ngIf="myForm.get('pais')?.value === 'MEX'" id="colonia" formControlName="colonia"
                        class="mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500">
                        <option value="" selected >Elegir opción</option>
                        <option *ngFor="let colonia of colonias" [value]="colonia.valor">
                            {{ colonia.descripcion }}
                        </option>
                    </select>
                </div>

                <div class="col-span-2">
                    <label for="calle" class="block text-sm font-medium ">Calle:</label>
                    <input type="text" id="calle" formControlName="calle"
                        class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500">
                    <span *ngIf="isValidField('calle')" class="text-[#EE312A]">
                        {{ getFieldError('calle') }}
                    </span>
                </div>
                <div class="col-span-2">
                    <label for="numeroExterior" class="block text-sm font-medium ">Num. Exterior:</label>
                    <input type="text" id="numeroExterior" formControlName="numeroExterior"
                        class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500">
                    <span *ngIf="isValidField('numeroExterior')" class="text-[#EE312A]">
                        {{ getFieldError('numeroExterior') }}
                    </span>
                </div>
                <div class="col-span-2">
                    <label for="numeroInterior" class="block text-sm font-medium ">Num. Interior:</label>
                    <input type="text" id="numeroInterior" formControlName="numeroInterior"
                        class="mt-1 block w-full rounded-md  focus:ring-blue-500 focus:border-blue-500">
                    <span *ngIf="isValidField('numeroInterior')" class="text-[#EE312A]">
                        {{ getFieldError('numeroInterior') }}
                    </span>
                </div>

                <div class="col-span-4">
                    <label for="referencia" class="block text-sm font-medium ">Referencia:</label>
                    <textarea id="referencia" formControlName="referencia"
                        class="mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500"
                        rows="3"></textarea>
                    <span *ngIf="isValidField('referencia')" class="text-[#EE312A]">
                        {{ getFieldError('referencia') }}
                    </span>
                </div>

            </div>
        </div>

    </form>
</div>


<div class="flex justify-between mb-4 mt-5">
    <div class="ms-3">
        <button type="button" class="ti-btn ti-btn-danger-full text-white !font-medium" (click)="closeModal()"
            data-hs-overlay="#hs-extralarge-modal1">
            Cancelar
        </button>
    </div>
    <div class="mr-3">
        <button class="ti-btn ti-btn-primary-full text-white !font-medium" (click)="onSubmit()">
            {{buttonTitle}}
        </button>
    </div>
</div>

<div id="loader" *ngIf="showLoader">
    <img src="images/loader.svg" alt="" />
</div>