<p class="h5 font-semibold mb-2">Restablecer contraseña</p>
<div class="btn-list">
    <button type="button" aria-label="button" class="ti-btn ti-btn-icon ti-btn-light me-[0.365rem]"><i class="ri-facebook-fill"></i></button>
    <button type="button" aria-label="button" class="ti-btn ti-btn-icon ti-btn-light"><i class="ri-twitter-fill"></i></button>
</div>
<div class="grid grid-cols-12 gap-y-4">
    <div class="xl:col-span-12 col-span-12 mt-0">
        <label for="correo" class="form-label text-default">Correo electrónico</label>
        <div class="input-group">
            <input type="password" class="form-control form-control-lg !rounded-e-none" id="correo" autocomplete>
        </div>
    </div>
    <div class="xl:col-span-12 col-span-12">
        <label for="reset-newpassword" class="form-label text-default">Nueva contraseña</label>
        <div class="input-group">
            <input type="password" class="form-control form-control-lg !rounded-e-none" id="reset-newpassword" [type]="showPassword1 ? 'text' : 'password'" autocomplete>
            <button aria-label="button" class="ti-btn ti-btn-light !mb-0 !rounded-s-none" (click)="toggleVisibility1()" type="button" id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></button>
        </div>
    </div>
    <div class="xl:col-span-12 col-span-12 mb-4">
        <label for="reset-confirmpassword" class="form-label text-default">Confirmar Contraseña
        </label>
        <div class="input-group">
            <input type="password" class="form-control form-control-lg !rounded-e-none" id="reset-confirmpassword" [type]="showPassword2 ? 'text' : 'password'" autocomplete>
            <button aria-label="button" class="ti-btn ti-btn-light !mb-0 !rounded-s-none" (click)="toggleVisibility2()" type="button" id="button-addon22"><i class="ri-eye-{{toggleClass2}} align-middle"></i></button>
        </div>
    </div>
    <div class="xl:col-span-12 col-span-12 grid mt-2">
        <a routerLink="/authentication/sign-in/cover" class="ti-btn ti-btn-lg bg-primary text-white !font-medium dark:border-defaultborder/10">Actualizar </a>
    </div>
</div>
<div class="text-center">
    <p class="text-[0.75rem] text-[#8c9097] dark:text-white/50 mt-4">¿Ya tienes una cuenta? <a routerLink="/login" class="text-primary">Iniciar sesión</a></p>
</div>