input[formControlName="tipoFigura"]{
    background-color: #f1f1f1 !important; 
    color: #121313 !important;
   
}
input[formControlName="numLicencia"]{
    background-color: #f1f1f1 !important; 
    color: #121313 !important;
   
}
input[formControlName="nombreFigura"]{
    background-color: #f1f1f1 !important; 
    color: #121313 !important;
   
}
input[formControlName="numRegIdTribFigura"]{
    background-color: #f1f1f1 !important; 
    color: #121313 !important;
   
}
input[formControlName="residenciaFiscalFigura"]{
    background-color: #f1f1f1 !important; 
    color: #121313 !important;
   
}