<div>
    <form [formGroup]="myForm"  autocomplete="off" class="grid grid-cols-3 gap-6 p-6  rounded-lg">
        <div class="col-span-3">
            <label for="SubTipoRem" class="block text-sm font-medium">Tipo Remolque:</label>
            <select id="SubTipoRem" formControlName="SubTipoRem"
                class="mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500">
                <option value="">Selecciona tipo de remolque</option>
                <option *ngFor="let remolque of remolquess" [value]="remolque.Clave">
                    {{ remolque.descripcion }}
                </option>
            </select>
            <span *ngIf="isValidField('SubTipoRem')" class="text-[#EE312A]">
                {{ getFieldError('SubTipoRem') }}
            </span>
        </div>
        <div class="col-span-3">
            <label for="placa" class="block text-sm font-medium ">Placa Vehicular:</label>
            <input type="text" id="placa" formControlName="placa" maxlength="7" class="mt-1 block w-full rounded-md ">
            <span *ngIf="isValidField('placa')" class="text-[#EE312A]">
                {{ getFieldError('placa') }}
            </span>
        </div>
    </form>
</div>


<div class="flex justify-between mb-4 mt-5">
    <div class="ms-3">
        <button type="button" class="ti-btn ti-btn-danger-full text-white !font-medium" (click)="closeModal()"
            data-hs-overlay="#hs-extralarge-modal1">

            Cancelar
        </button>
    </div>
    <div class="mr-3">
        <button class="ti-btn ti-btn-primary-full text-white !font-medium" (click)="onSubmit()">
            {{buttonTitle}}
        </button>
    </div>
</div>
<div id="loader" *ngIf="showLoader">
    <img src="images/loader.svg" alt="" />
</div>