<div class="grid grid-cols-12 gap-x-6">
  <div class="xl:col-span-12 col-span-12">
    <div class="box mt-4">
      <div class="box-body">
        <div class="contact-header">
          <div class="sm:flex block items-center justify-between">
            <div class="h5 font-semibold mb-0">Clientes</div>
            <div class="flex sm:mt-0 mt-2 items-center">
              <div class="input-group">
                <input type="text" class="form-control !rounded-s-sm w-full !bg-light !border-0"
                  placeholder="Buscar cliente" aria-describedby="search-contact-member" (input)="applyFilter($event)"
                  autocomplete="off" />
                <button aria-label="button" type="button" class="ti-btn ti-btn-light !rounded-s-none !mb-0"
                  id="search-contact-member">
                  <i class="ri-search-line text-[#8C9097]"></i>
                </button>
              </div>
              <div class="hs-tooltip ti-main-tooltip">
                <button type="button"
                  class="hs-tooltip-toggle ti-btn ti-btn-icon ti-btn-primary !ms-2 w-[2.313rem] h-[2.313rem]"
                  data-hs-overlay="#hs-extralarge-modal1">
                  <i class="ri-add-line"></i>
                  <span
                    class="hs-tooltip-content hs-dropdown-toggle ti-main-tooltip-content py-1 px-2 !bg-black !text-xs !font-medium !text-white shadow-sm"
                    role="tooltip">
                    Crear Cliente
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @for (cliente of filteredCustomer; track cliente) {
  <div class="xxl:col-span-3 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <div class="box">
      <div class="box-body">

        <div class="flex items-center mb-4">
          <span class="avatar avatar-md avatar-rounded me-4">
            <img src="./images/faces/1.jpg" alt="" />
          </span>
          <div>
            <p class="mb-0 font-semibold text-[.875rem] text-primary">
              {{ cliente.name }}
            </p>
            <p class="mb-0 text-[.625rem] font-semibold text-[#000000]">
              {{ cliente.status === 1 ? 'Activo' : 'Inactivo'  }}
            </p>
          </div>
        </div>
        <div class="mb-4 flex items-center justify-between">
          <div class="flex items-center">
            <p class="mb-0 font-semibold text-[#000000]">
              RFC:
            </p>
            <span class="text-[#000000] ml-2">{{ cliente.rfc }}</span>
          </div>
          <div *ngIf="!LISTADORFCSGENERICOS.includes(cliente.rfc)" class="flex items-center">
            <p class="mb-0 font-semibold text-[#000000]">
              CP:
            </p>
            <span class="text-[#000000] ml-2">{{ cliente.cp }}</span>
          </div>
        </div>
        <div class="flex items-center justify-end">
          <div class="ltr:float-right rtl:float-left text-[0.75rem] font-semibold text-[#000000] text-end">
            <button type="button" (click)="editCustomer(cliente.id)" data-hs-overlay="#hs-extralarge-modal1"
              class="ti-btn ti-btn-primary-full text-[#000000] !font-medium">
              Ver
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
<div id="hs-extralarge-modal1" class="hs-overlay hidden ti-modal [--overlay-backdrop:static]"
  data-hs-overlay-keyboard='false'>
  <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out lg:!max-w-4xl lg:w-full m-3 lg:!mx-auto">
    <div class="ti-modal-content">
      <div class="ti-modal-header">
        <h6 class="ti-modal-title">Cliente</h6>
      </div>
      <app-form-customer [productoHijo]="cliente" (respuesta)="responseCustomer($event)" />
    </div>
  </div>
</div>

<div id="loader" *ngIf="showLoader">
  <img src="./images/loader.svg" alt="" />
</div>