<form [formGroup]="formCartaPorte">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 sm:col-span-12 md:col-span-3">
            <label for="selectIstmo" class="form-label text-[.875rem] text-black">R. Istmo:</label>
            <select class="block w-full rounded-md sm:text-sm form-select !py-[0.59rem]" name="selectIstmo"
                id="selectIstmo" formControlName="selectIstmo">
                <option selected value="No">No</option>
                <option value="Si">Si</option>
            </select>
        </div>

        <div class="col-span-12 sm:col-span-12 md:col-span-3">
            <label for="uPoloOrigen" class="form-label text-[.875rem] text-black">U. Polo O:</label>
            <select class="block w-full rounded-md sm:text-sm form-select !py-[0.59rem]" name="uPoloOrigen"
                id="uPoloOrigen" formControlName="uPoloOrigen"
                [disabled]="formCartaPorte.get('selectIstmo')?.value === 'No'">
                <option value="01">Coatzacoalcos I</option>
                <option value="02">Coatzacoalcos II</option>
                <option value="03">Texistepec</option>
                <option value="04">San Juan Evangelista</option>
                <option value="05">Salina Cruz</option>
                <option value="06">San Blas Atempa</option>
            </select>
        </div>

        <div class="col-span-12 sm:col-span-12 md:col-span-3">
            <label for="uPoloDestino" class="form-label text-[.875rem] text-black">U. Polo D:</label>
            <select class="block w-full rounded-md sm:text-sm form-select !py-[0.59rem]" name="uPoloDestino"
                id="uPoloDestino" formControlName="uPoloDestino"
                [disabled]="formCartaPorte.get('selectIstmo')?.value === 'No'">
                <option value="01">Coatzacoalcos I</option>
                <option value="02">Coatzacoalcos II</option>
                <option value="03">Texistepec</option>
                <option value="04">San Juan Evangelista</option>
                <option value="05">Salina Cruz</option>
                <option value="06">San Blas Atempa</option>
            </select>
        </div>

        <div class="col-span-12 sm:col-span-12 md:col-span-3">
            <label for="serieFolio" class="form-label text-[.875rem] text-black">D.recorrida:</label>
            <div class="input-group">
                <input type="text" class="form-control" name="serieFolio" id="serieFolio" formControlName="serieFolio"
                    readonly>
            </div>
        </div>
    </div>
    <app-form-ubicaciones />
    <app-form-mercancias />
    <hr class="my-6 border-gray-300">
    <app-form-autotrasporte />
    <hr class="my-6 border-gray-300">
    <app-form-Remolques />
    <app-form-seguros />
    <hr class="my-6 border-gray-300">
    <app-form-figuras />
</form>