
<form [formGroup]="formCartaPorte">

<div class="grid grid-cols-12 gap-4">
    <h5 class="mt-3">Ubicaciones</h5>
    <div class="col-span-12 sm:col-span-12 md:col-span-12">
        <div class="table-responsive">
            <table class="table text-nowrap table-bordered mb-3" id="tableUbication">
                <thead>
                    <tr>
                        <th style="width: 5%;">Tipo</th>
                        <th style="width: 25%;">RFC</th>
                        <th>Datos Generales</th>
                        <th style="width: 15%;">F. Hora</th>
                        <th style="width: 15%;">Distancia</th>
                        <th style="width: 3%;">Eliminar</th>
                    </tr>
                </thead>

                <tbody  formArrayName="ubicaciones" id="tbodyUbication">
                    <!-- <tr>
                        <td colspan="8" class="text-center"><h5>Origen</h5></td>
                    </tr> -->
                </tbody>
                <tfoot>
                    <tr>
                    </tr>
                </tfoot>
            </table>
            <button type="button"
                class="mt-4 flex items-center justify-center w-10 h-10 rounded-full  mx-auto  ti-btn-primary "
                data-hs-overlay="#hs-extralarge-modal3">
                <i class="ri-add-line "></i>
            </button>
        </div>
    </div>
</div>
<div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 sm:col-span-12 md:col-span-4">
        <label for="" class="form-label">P. Bruto: </label>
        <input type="text" class="form-control" disabled>
    </div>
    <div class="col-span-12 sm:col-span-12 md:col-span-4">
        <label for="" class="form-label">U. Peso: </label>
        <select class="form-control">
            <option value="">Selecciona unidad</option>
            <!-- @foreach($unidadesPeso as $unidad)
                <option value="{{ $unidad->key_unit }}">{{ $unidad->name }}</option>
            @endforeach -->
        </select>
    </div>
    <div class="col-span-12 sm:col-span-12 md:col-span-4">
        <label for="" class="form-label">R. Devolución</label>
        <select class="form-control">
            <option value="No">No</option>
            <option value="Si">Si</option>
        </select>
    </div>
</div>
</form>